<!doctype html>

<html lang="en">
	<head>
		<title>Art Page</title>
		<link href="css/art.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>First Header</h1>
		<h2>
			<nav>Nav Links</nav>
		</h2>
		<section class='sellerSide'>
			<section class='sellerProfile'>
				<img  class='profilePicture' src="Images/Profile Picture.png" width="100" height="100" alt="Profile Picture"/>
				<p>Profile Name</p>
			</section>
			<section class='sellerDetails'>
					<p>Title of Art</p>
					<p>Price of art</p>
			</section>		
			<footer class='sellerDetailsFooter'>This seller's contact information - This seller's contact information - This seller's contact information - This seller's contact information - This seller's contact information</footer>
		</section>
		<aside class='imageSide'>
			<img  class='artPicture' src="Images/Artwork1.Jpg" alt="Picture of the Art Piece"/>
			<footer>This is the image description - This is the image description - This is the image description - This is the image description - This is the image description</footer>
		</aside>
	</body>
</html>