p, h1, h2, section, aside, footer{
    border: black;
    border-style: solid;
}
section.sellerSide{
    float: left;
    width: 30%; 
    padding: 15px; 
}
section.sellerDetails{
    float: right;
    width: 40%; 
    padding: 5px; 
}
section.sellerProfile{
    float: left;
    padding: 5px; 
}
footer.sellerDetailsFooter{
    clear:both;
    padding: 5px; 
}
aside.imageSide{
    float: right;
    width: 50%; 
    padding: 15px; 
}
img {
    max-width: 100%;
    height: auto;
}