<!doctype html>

<html lang="en">
    <head>
        <title> The Gallery</title>
        <link href="gallery.css" type="text/css" rel="stylesheet"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1> The Gallery</h1>
        <p> Congratulations.<br> Payment has been successful.<br> An email will be sent out to the seller with your details.</p>
        <p> Please check your details below are correct. If they are press yes and the email will be sent.</p>
      
        <p>{{user.user}}</p>
        <p>{{user.email}}</p>

        <a href="/homepage">Back To Homepage</a>
    </body>