<!doctype html>

<html lang="en">
	<head>
		 <title> The Gallery</title>
        <link href="gallery.css" type="text/css" rel="stylesheet"/>
        <meta charset="utf-8"/>
	</head>
	<body>
		<h1> The Gallery</h1>
        <nav class = "nav"> 
            <a class="current" href="/homepage">Home</a>
            <a href= "/user-homepage/">My User Page</a>
            <a href="/upload">Upload Art</a>
            <a href="/search">Search</a>
            <a href="#about">About Us</a>
            <a href="/logout">Logout</a>
        </nav>
		{{#if detailsmsg}}
		<h2>{{detailsmsg.msg}}</h2>
		{{/if}}
		
</html>
