<!doctype html>

<html lang="en">
    <head>
        <title> The Gallery</title>
        <link href="gallery.css" type="text/css" rel="stylesheet"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1> The Gallery</h1>
        <nav class = "nav"> 
            <a class="current" href="/homepage">Home</a>
            <a href="/login">Login</a>
            <a href="#about">About Us</a>
            <a href="/upload">Upload Art</a>
            <input type="text" placeholder="Search ...">
        </nav> 
                
        
        
        <section class = "row">
                {{#each item}}
                <section class = "column">
                    <figure>
                        <a href="../details/{{id}}"></a>
                        <img src="itemImages/{{this.id}}/0.jpg" alt="Picture of an artpiece for sale" width = "200" height = "200"/></a>
                        <figcaption> {{this.title}}, {{this.price}} £</figcaption>
                    </figure>
                </section>
                {{/each}}
        </section>
        
    </body>
</html>