<!doctype html>

<html lang="en">
    <head>
        <title> The Gallery</title>
        <link href="gallery.css" type="text/css" rel="stylesheet"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1> The Gallery</h1>
        <nav class = "nav"> 
            <a class="current" href="/homepage">Home</a>
            <a href= "/user-homepage/">My User Page</a>
            <a href="/upload">Upload Art</a>
            <a href="/search">Search</a>
            <a href="#about">About Us</a>
            <a href="/logout">Logout</a>
        </nav>
        <form action="/search" enctype="multipart/form-data" method="post">
				<p>Search results:</p>
				<input id= 'search' width='200px' type="text" name="query" placeholder="Search ...">
		</form> 
        {{#each item}}
        <section class = "row">
                    <figure>
                        <a href="../details/{{this.id}}">
                        <img src="itemImages/{{this.id}}/0.jpeg" alt="Picture of an artpiece for sale" width = "200" height = "200"/></a>
                        <figcaption> {{this.title}}, {{this.price}} £</figcaption>
                    </figure> 
        </section>
         {{/each}}
    </body>
</html>
