<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>User Homepage</title>
		<link href="user.css" type="text/css" rel="stylesheet" />
	</head>
    <body>
        <h1>Homepage</h1>
        <section>
            <h3>Username: {{user.Username}}</h3>
            <h3>Email: {{user.email}}</h3>

        </section>
    </body>