<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>User Homepage</title>
		<link href="user.css" type="text/css" rel="stylesheet" />
	</head>
    <body>
        <header>
            <h1>Gallery</h1>
        </header>

        <nav class = "nav"> 
            <a href="/homepage">Home</a>
            <a href="/login">Login</a>
            <a href="#about">About Us</a>
            <a href="/upload">Upload Art</a>
            <a href="/search">Search</a>
        </nav> 

        <section>
            

            <h3>Username: {{user.user}}</h3>
            <h3>Email: {{user.email}}</h3>

        </section>
    </body>
