
body {
    background-color: white;
    background-image:  URL('/images/background2.jpg');
  
    background-size: cover;
    font-family: Helvetica, sans-serif;
    margin-left: 4em;
    text-align: center;
  }
  
  body
  {
   font-size: 2em;
   color:black
   text-align: center;
   font-size: 1em;
   
  }
  header
  {
    font-size: 2em;
   color:blanchedalmond;
   text-align: center;
  }
  
  .msg {
    border: 1px solid red;
    font-weight: bold;
    color: red;
    padding: 1em;
  }
  
  input,textarea{
    width: 90%;
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 7px;
    line-height: 24px;
  }

  form{
    font-size: 1.5em;
    background: blanchedalmond;
    width: 30%;
    opacity:0.6;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #3A3335;
    border-radius: 9px;
    line-height: 28px;
  }
a{
  color: rgb(85, 85, 85);
  margin-right: 1em;
  text-decoration-line: none;
  font-weight: bold;
  }
nav 
{
  background-color: blanchedalmond;
  opacity: 0.6;
  text-align: center;
  width: auto;
  padding: 12px 20px;
  
  margin: 0px 0 8px;
  display: inline-block;
  border: 1px solid #3A3335;
  border-radius: 9px;
  
  margin-right: 1em;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 2em;

  
  
}
